@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<form action="">
    <label>Calculator</label><br>
    <p>X: <input type="number" name="x"></p>
    <p>Y: <input type="number" name="y"></p>
    <p>Result: @ViewBag.Result @ViewBag.Commit</p>
    <input type="submit" value=" + " name="sub">
    <input type="submit" value=" - " name="sub">
    <input type="submit" value=" * " name="sub">
    <input type="submit" value=" / " name="sub">
</form>
