@{
    ViewData["Title"] = "Index";
}


@*<!DOCTYPE html>
<html>
<body>*@
<div>
    <form>
        <label>Calculator</label><br>
        <p>X: <input type="number" name="x"></p>
        <p>Y: <input type="number" name="y"></p>
        <p>Result: @ViewBag.Result </p>
        <input type="submit" value=" + " name="sub">
        <input type="submit" value=" - " name="sub">
        <input type="submit" value=" * " name="sub">
        <input type="submit" value=" / " name="sub">
    </form>
    @*<p><a asp-controller="Products" asp-action="Show">View Products</a></p>
    <p><a asp-controller="UserInfo" asp-action="UserInfo">View UserInfo</a></p>*@
    <h4><partial name="_DateTime"/></h4>
</div>
    
@*</body>
</html>*@
