@model asp_less3_ex1_calc.Model.WeatherModel;


<h5>Weather in @Model.name: </h5>
<ul>
    <li>temperature @Model.main.temp°C</li>
    <li>short description - "@Model.weather[0].description"</li>
</ul>

